<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2 Progress Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>This our thing thing</h1>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main>
        <aside>
            <h2>yo yo yo</h2>
        </aside>
        <div>
            {{{body}}}
        </div>
    </main>
</body>

</html>