<head>
    <style>
        body {
            background-image: url(../images/2.jpg);
            background-repeat: repeat-y;
        }
    </style>
</head>

{{!-- This is where you input your message --}}

<div id="messageContainer">
    <form class="form message-fourm">
        <div class="form-group">
            <div>
                <label id="messageTitle" for="message-input">Please type your message:</label>
            </div>
            <textarea class="form-input" rows="5" id="message-input" placeholder="Enter text here"
                maxlength="100"></textarea>

        </div>
        <div class="form-group">
            <button id="messageButton" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="./js/message.js"></script>