{{!-- Pie chart for Completed tasks chart --}}
<div id="pie-chart-progress">
</div>
<script>
const data = {
  labels: [
    'Adrian',
    'Catherine',
    'Dee'
    'Justin'
  ],
  datasets: [{
    label: 'Completed Tasks',
    data: [300, 50, 100, 50],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 5
  }]
};
</script>

</div>
