{{!-- Pie chart for tasks chart --}}

<h2 id="text-pie">Progress Chart</h2>

<div id="width-text">
<p id="text-pie">The pie chart represents how many tasks each employee is currently working on. A manager or an employee can add a task, new employees who work on the same project can sign up a new user and add a task to their user which will be reflected on the Progress chart.</p>
</div>

<div class="pieChart">
  <canvas id="pie-chart-progress"></canvas>
</div>

<script type="text/javascript">
  const data = {
    labels: [
      {{#each users}}
        "{{this}}"{{#unless @last}},{{/unless}}
      {{/each}}
    ],
    datasets: [{
      label: 'Completed Tasks',
      data: [
        {{#each completedTasks}}
          {{this}}{{#unless @last}},{{/unless}}
        {{/each}}
      ],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(540, 162, 235)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(90, 232, 125)',
        'rgb(200, 99, 20)'
      ],
      hoverOffset: 4
    }]
  }
  const config = {
    type: 'doughnut',
    data: data,
  };
  const ctx = document.getElementById('pie-chart-progress');
  const myChart = new Chart(ctx, config);
</script>
