{{!-- Pie chart for Completed tasks chart --}}

<style type="text/css">
  .pieChart{
    width: 800px;
    height: 800px;
  }
  
</style>

<h2>Pie Chart</h2>

<div class="pieChart">
<canvas id="pie-chart-progress"></canvas>
</div>

<script type="text/javascript">
  const data = {
    labels: [
      {{#each users}}
        "{{this}}"{{#unless @last}},{{/unless}}
      {{/each}}
    ],
    datasets: [{
      label: 'Completed Tasks',
      data: [
        {{#each completedTasks}}
          {{this}}{{#unless @last}},{{/unless}}
        {{/each}}
      ],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
      ],
      hoverOffset: 5
    }]
  };
  const config = {
    type: 'pie',
    data: data,
  };
  

  const ctx = document.getElementById('pie-chart-progress');
  const myChart = new Chart(ctx, config);
</script>
