<h2>Roadmap!</h2>
  <div class="topnav">
        <a class="active" href="#home">HOME</a>
        <a href="#login">LOGIN</a>
      </div>

    <div class ="timeline">
        <div class ="container left">
            <div class ="content">
                <h2>NODE / EXPRESS</h2>
                <p>Create RESTful API using Node.js and Express.js features</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container right">
            <div class ="content">
                <h2>HANDLEBARS</h2>
                <p>Use Handlebars.js as template engine</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container left">
            <div class ="content">
                <h2>MYSQL / SEQUELIZE</h2>
                <p>Create database using MySQL and Sequelize ORM</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container right">
            <div class ="content">
                <h2>GET / POST</h2>
                <p>Create routes for retrieving and adding new data</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container left">
            <div class ="content">
                <h2>NEW TECHNOLOGY</h2>
                <p>Use one new library, package or technology</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container right">
            <div class ="content">
                <h2>FOLDER STRUCTURE</h2>
                <p>Create a folder structure that meets the MVC paradigm</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container left">
            <div class ="content">
                <h2>AUTHENTICATION</h2>
                <p>Include authentication (express-session and cookies)</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container right">
            <div class ="content">
                <h2>PROTECT API KEYS</h2>
                <p>Protect API keys and sensitive information with environment variables</p>
                <button onclick="gfg_Run()">
                    COMPLETE
                </button>
    </div>
    </div>
    <div class ="timeline">
        <div class ="container left">
            <div class ="content">
                <h2>PRESENTATION</h2>
                <p>Create a presentation about the application that includes the application's overall concept
                    the motivation for your application's development,
                    the design process,
                    technologies used (and a brief description of how they work),
                    a demonstration of the application's functionality,
                    directions for future development.</p>
                    <button onclick="gfg_Run()">
                        COMPLETE
                    </button>
    </div>
    </div>