<head>
    <style>
        body {
            background-image: url(../images/1.png);
            background-repeat: repeat-y;
        }
    </style>
</head>
<div class="timeline" id="image-roadmap">

    <div class="container left">
        <div class="content">
             <h1><div title="CREATE RESTFUL API USING NODE.JS AND EXPRESS.JS FEATURES ">NODE / EXPRESS</div></h1>
        </div>
    </div>
    <div class="timeline">
        <div class="container right">
            <div class="content">
                <h1><div title="USE HANDLEBARS.JS AS TEMPLATE ENGINE">HANDLEBARS</div></h1>
            </div>
        </div>
        <div class="timeline">
            <div class="container left">
                <div class="content">
                     <h1><div title="CREATE DATABASE USING MYSQL AND SEQUELIZE ORM">MYSQL / SEQUELIZE</div></h1>
                </div>
            </div>
            <div class="timeline">
                <div class="container right">
                    <div class="content">
                        <h1><div title="CREATE ROUTES FOR RETRIEVING AND ADDING NEW DATA">GET / POST</div></h1>
                    </div>
                </div>
                <div class="timeline">
                    <div class="container left">
                        <div class="content">
                            <h1><div title="USE ONE NEW LIBRARY, PACKAGE OR TECHNOLOGY">NEW TECHNOLOGY</div></h1>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="container right">
                            <div class="content">
                               <h1><div title="CREATE FOLDER STRUCTURE THAT MEETS THE MVC PARADIGM">FOLDER STRUCTURE</div></h1>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="container left">
                                <div class="content">
                                    <h2><div title="INCLUDE AUTHENTICATION (EXPRESS-SESSION AND COOKIES)">AUTHENTICATION</div></h2>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="container right">
                                    <div class="content">
                                        <h1><div title="PROTECT API KEYS AND SENSATIVE INFORMATION WITH ENVIORNMENT VARIABLES">PROTECT API KEYS</div></h1>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="container left">
                                        <div class="content">
                                           <h1><div title="CREATE A PRESENTATION ABOUT THE APPLICATION THAT INCLUDES THE APPLICATION'S OVERALL CONCEPT, THE MOTIVATION FOR YOUR APPLICATION'S DEVELOPMENT , THE DESIGN PROCESS, TECHNOLOGIES USED (AND A BRIEF DESCRIPTION OF HOW THEY WORK), A DEMOSTRATION OF THE APPLICATIONS FUNCTIONALITY AND DIRECTIONS FOR FUTURE DEVELOPMENT ">PRESENTATION</div></h1>
                                        </div>
                                    </div>